<div class="text-center" ng-show="!isOwner">
    <a type="button" class="btn btn-primary" href="#/bracket" ng-click="setActiveBracket('new')" ng-show="currentUser">Copy Bracket</a>
    <a type="button" class="btn btn-primary" href="#/bracket" ng-click="setActiveBracket('new')">Print</a>
    <a type="button" class="btn btn-primary" href="#/bracket" ng-click="setActiveBracket('new')">Share</a>
</div>

<div id="bracketContainer" class="container">
    <div class="row">
        <h4>And the winner is....</h4>
    </div>
    <div class="row">
        <div ng-repeat="round in getRounds(bracket.rounds)">
            <div ng-if="!$last">
                <div class="col-md-3">
                    <div class="well text-center" style="background-color:#337ab7; color: white; border-radius: 4px">
                        <h4>ROUND {{ $index + 1 }}</h4>
                    </div>
                    <ul>
                        <li ng-repeat="matchUp in getMatchUps(round)">
                            <span ng-show="!$parent.$last">
                                <div class="matchUpBox">
                                    <div class="top">
                                        <div ng-if="!matchUp.top">
                                            TBD
                                        </div>
                                        <div ng-if="matchUp.top">
                                            {{ matchUp.top.name }}
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div ng-if="!matchUp.bottom">
                                            TBD
                                        </div>
                                        <div ng-if="matchUp.bottom">
                                            {{ matchUp.bottom.name }}
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
